/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/index.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full height of the viewport */
    width: 100%; /* Ensure full width of the viewport */
    overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.main {
    background-size: 90%;
    background-position: center;

    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--white);
}

.BG {
    background-color: var(--black);
    background-repeat: no-repeat;
    background-image: url('/BG/lines.svg');
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 85vw;
    height: 50px;
    flex-shrink: 1;

    border-radius: 50pt;
    background: var(--nav-black);
    color: var(--white);
    backdrop-filter: blur(4px);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    margin: 20px auto;

    position: fixed;
    z-index: 100;
}

.navLinks {
    color: var(--white);
    list-style: none;
    display: flex;
    gap: 5em; /* Spacing between links */
}

.navLinks a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s;
    font: var(--reg-16);
    cursor: pointer;
}

/* Header */
header {
    background: url('/BG/img-bg-1.png') no-repeat;
    background-size: 90%;
    background-position: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-align: center;
    gap: 2rem;
    margin: 250px auto 150px auto;
}

.header-container h1 {
    font: var(--reg-50);
}

.header-container p {
    font: var(--reg-16);
    width: 70%;
}

.get-started-btn {
    background-color: var(--purple);
    color: var(--white);
    width: 290px;
    height: 60px;
    border-radius: 50px;
    border: 0;
}

.header-container h1, p, button {
    margin: 0;
}

/* Pull Text */
.pull-p {
    text-align: center;
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 100px;
}

.big-text {
    font: var(--reg-50);
}

.small-text {
    color: var(--neu-grey);
    font: var(--reg-16);
    width: 50%;
    margin: 1em 0;
}

.text-grey {
    color: var(--neu-grey);
}

.text-purple {
    color: var(--purple);
}

/* What We Offer */
.offer-imgs {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.offer-imgs img {
    width: 25%;
    height: auto;
}

/* Img Btn */
.img-btn-container {
    background-color: var(--nav-black);
    width: 73%;
    height: auto;
    margin: 150px auto;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 2px solid var(--white);
}

.heading {
    text-align: center;
    font: var(--reg-50);
    margin: 0;
}

.description {
    text-align: center;
    font: var(--reg-16);
    color: var(--neu-grey);
    margin: 1em 0;
}

.layout {
    display: flex;
    flex-direction: row;
}

.step-1, 
.step-2,
.button-group-1,
.button-group-2 {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.button-group-1 {
    align-items: flex-end;
}

.button-group-1,
.button-group-2 {
    justify-content: center;
    gap: 11em;
}

.step-title-1,
.step-description-1,
.step-number-1, 
.active-number-1 {
    text-align: right;
    align-self: flex-end;
}

.step-title-2,
.step-description-2, 
.step-number-2, 
.active-number-2 {
    text-align: left;
    align-self: flex-start;
}

.step-number-1,
.step-number-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--reg-40);
    background-color: var(--white);
    color: var(--black);
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50px;
}

.active-number-1,
.active-number-2 {
    background-color: var(--purple);
    color: var(--white);
}


.image-container img {
    width: 300px;
    height: auto;
    margin: 50px 120px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.step-title-1, 
.step-title-2 {
    font: var(--reg-25);
    margin: 20px 0;
}

.step-description-1,
.step-description-2 {
    font: var(--reg-16);
}

/* Download Beep */
.download-container {
    position: relative;
    width: 84%;
    height: 500px;
    border-radius: 40px;
    background: url('/Download/bg.png') no-repeat center;
    background-size: cover; /* Scale the SVG to cover the div */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7em 9em 7em 7em;
}

.download-text h1 {
    font: var(--reg-50);
    margin: 0;
}

.download-text p {
    font: var(--reg-16);
    margin: 1em 0 2.5em 0;
}

.download-img img {
    width: 95%;
    height: auto;
}

/* Our Team */
.teamSection {
    text-align: center;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.title {
    font: var(--reg-50);
    margin: 0;
}

.teamSection .description {
    width: 40%;
    margin-bottom: 50px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

    width: 90%;
}

.trackWrapper {
    overflow: hidden;
    width: 90%;
}

.track {
    display: flex;
    gap: 1.5rem;
    transition: transform 0.5s ease-in-out;
}

.card {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    width: 18em;
    height: 18em;
    text-align: center;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    background: rgba(173, 173, 173, 0.20);    ;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: 15px 0;

    backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
}

.info h3 {
    font: var(--reg-25);
    margin: 0;
}

.info p {
    font: var(--reg-16);
    margin: 0.2em 0 0 0;
}

.arrow {
    width: 90px;
    height: 90px;
    font: var(--reg-30);
    background-color: rgba(173, 173, 173, 0.20);    ;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
}

.arrow:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.leftArrow {
    left: 10px;
}

.rightArrow {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Footer */
.footer {
    width: 84%;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.footer-1 img {
    width: 130px;
    height: auto;
    margin-bottom: 2em;
}

.footer-1 h5, p {
    font: var(--reg-16);
}

.footer-1 p {
    color: var(--neu-grey);
    width: 60%;
}

.subscribe {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 4em;
}

.subscribe input {
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--white);
    background-color: transparent;
    padding-left: 1em;
}

.subscribe button {
    border-radius: 50px;
    width: 130px;
    background-color: var(--white);
    border: 0;
} 

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-list p {
    font: var(--reg-16);
}

.footer-list h5 {
    font: var(--bold-16);
    margin: 0;
}

.list-item {
    text-decoration: none;
    list-style: none;
}

.list {
    padding: 0;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-2 p {
    margin-bottom: 2em;
}



/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/NavBar/NavBar.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.NavBar_nav-container__2FImP {
    width: 1780px;
    height: 100px;
    flex-shrink: 1;

    border-radius: 50px;
    background: var(--nav-black);
}

.NavBar_main__jr2Ou {
    color: red;
}
